<div class="article">
  <% fields_for "newsletter[contenu_nl_attributes][]", contenu_nl do |article| %>
  <table>
    <tr>
      <th>Titre :</th>
      <td><%= article.text_field :titre, :size => 70, :index => nil %></td>
    </tr>
    <tr>
      <th>Contenu :</th>
      <td><%= article.text_area :body, :cols => 70, :rows => 10, :index => nil %></td>
    </tr>
  </table>
    <% if contenu_nl.new_record? %>
  		<%= link_to_function "supprimer", "this.up('.article').remove()" %>
  	<% else %>
  		<%= link_to_function "supprimer", "mark_article_for_destroy(this)" %>
  		<%= article.hidden_field :id, :index => nil %>
  		<%= article.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
  	<% end %>
  <% end %>

</div>