<h1>Editing newsletter</h1>

<%= error_messages_for :newsletter %>

<% form_for(@newsletter) do |f| %>
  <p>
    <b>Date pub</b><br />
    <%= f.date_select :date_pub %>
  </p>

  <p>
    <b>Numero</b><br />
    <%= f.text_field :numero %>
  </p>
  
  <fieldset>
    <legend><b>Articles de la Newsletter</b></legend>
    <div id="articles">
      <%= render :partial => "contenu_nl", :collection => @contenu_nls %>
    </div>
    <%= lien_ajout_article "Ajouter un article" %>
  </fieldset>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @newsletter %> |
<%= link_to 'Back', newsletters_path %>
