<h1>Listing newsletters</h1>

<table>
  <tr>
    <th>Date pub</th>
    <th>Numero</th>
  </tr>

<% for newsletter in @newsletters %>
  <tr>
    <td><%=h newsletter.date_pub %></td>
    <td><%=h newsletter.numero %></td>
    <td><%= link_to 'Voir', newsletter %></td>
    <td><%= link_to 'Modifier', edit_newsletter_path(newsletter) %></td>
    <td><%= link_to 'Supprimer', newsletter, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Envoyer', deliver_newsletter_path(newsletter) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New newsletter', new_newsletter_path %>
