<h2 class="ficheid">Création d'une Newsletter</h2>

<%= error_messages_for :newsletter %>

<% form_for(@newsletter) do |f| %>

  <table border="0" cellspacing="0" cellpadding="2">
    <tr>
      <th>Numero</th>
      <td><%= f.text_field :numero, :size => 5 %></td>
    </tr>  
  </table>

  
  <fieldset>
    <legend><b>Articles de la Newsletter</b></legend>
    <div id="articles">
      <%= render :partial => "contenu_nl", :collection => @contenu_nls %>
    </div>
    <%= lien_ajout_article "Ajouter un article" %>
  </fieldset>

  <p>
    <%= f.submit "Enregistrer" %>
  </p>
<% end %>

<%= link_to 'Retour', newsletters_path %>
